.h3
    font-size   1.17em
    font-weight bold
    margin      1em 0

form
dl
    margin 1em 0

ul
    list-style-position inside
    margin 1em 0
    padding 0

    ul
        padding-left 2em

    @media(max-width:22.4999em)
        padding 0

        ul
            padding-left 1em

li
    margin-bottom 1em


[aria-hidden=true]
    display none !important

#symbols
    display none
