border-color = #ddd
border-error-color = #DBB1B1
box-shadow-color = #d4d4d5
background-color = #f7f7f7
background-overlay-color = rgba(255, 255, 255, .9)
link-color = rgb(89, 155, 220)
font-color = rgba(0, 0, 0, .8)
font-light-color = rgba(0, 0, 0, .5)
font-error-color = #D95C5C
text-shadow-color = rgba(255, 255, 255, .8)



body
    background-color background-color
    color font-color

a
    color link-color


.container
    background-color #fff
    box-shadow 0 0 2px 0 rgba(0, 0, 0, .05)
    border-color border-color
    border-style solid
    border-width 0 1px 1px
    border-radius 0 0 0.2857rem 0.2857rem

    @media(max-width)
        border-width 0 0 1px


section
    border-top 1px solid border-color


.fixed
    h1
        background-color background-overlay-color
        border-color border-color
        border-style solid
        border-width 0 1px 1px


.card
    box-shadow 0 3px 0 0  box-shadow-color, 0 0 0 1px  box-shadow-color
    border-radius 0.2857rem

    .description
        border-top 1px solid border-color


.meta
footer
    color font-light-color
