@media(min-width 30.0625em)
    .fixed
        h1
            z-index          2
            position         fixed
            top              0
            left             50%
            transform        translateX(-50%)
            box-sizing       border-box
            width            100%
            max-width        60rem
            padding          1rem
            border-width     0 1px 1px
            border-style     solid
            border-color     border-color
            background-color background-overlay-color
            font-size        1em

            img
                position float
                display  block
                position absolute
                top      0
                right    0
                height   100%

        .overlay
            display none

        .container
            padding-top 6em

        blockquote
            position relative
            z-index  1
