body
    font-family: Lato, sans-serif

    @media(max-width: 29.9999em)
        font-size .9em


h1
    transition font-size 250ms


blockquote
    position relative

    &::before
        content '‟'
        display block
        position absolute
        top -.35em
        left 0
        color font-light-color
        text-shadow 0 1px 1px text-shadow-color
        font-size 6em

    p
        font-size 1.25em
        font-style italic
        font-family: serif

    footer
        font-size .8em


.locales
    font-size .85em

#signatories
    h2
        font-size 2em

    h2 span
        font-weight normal
        font-size 0.60em
        color: font-light-color
    h2 span.counter
        // font-size: 1.3em
        font-size 1em
        font-weight bold
        color:red

        color         : black
        background    : #00FFE2
        border-radius : 0.35em
        padding-left  : 0.4em
        padding-right : 0.4em

    input:checked~label
        color:#0F6FCD

.card
    .meta
    .description
        font-size .85em

    .email
        font-style italic


dt
    font-weight bold

    &::before
        content: '▸'
        display inline-block
        margin-right .35em
        vertical-align top


footer
    font-size .85em

html:not([lang=fr])
    a[hreflang]::after
        content: ' [' attr(hreflang) ']'
        font-size .65em
        vertical-align top
