body
    font-family: Lato, sans-serif

    @media(max-width: 29.9999em)
        font-size .9em


h1
    transition font-size 250ms


blockquote
    position relative

    &::before
        content '‟'
        display block
        position absolute
        top -.35em
        left 0
        color font-light-color
        text-shadow 0 1px 1px text-shadow-color
        font-size 6em

    p
        font-size 1.25em
        font-style italic
        font-family: serif

    footer
        font-size .8em


.locales
    font-size .85em


nav a
    text-decoration: none


h2
    font-size 2em

    .date
        font-weight normal
        font-size   .55em

    .counter
        padding       0 .5em
        border-radius 0.2875rem


.roll
    h3
        font-size 1em
    .icon-pushpin
        transform rotateZ(-45deg)


.card
    .meta
    .description
        font-size .85em

    .email
        font-style italic


dt
    font-weight bold

    &::before
        content: '▸'
        display inline-block
        margin-right .35em
        vertical-align top


footer
    font-size .85em

html:not([lang=fr])
    a[hreflang]::after
        content: ' [' attr(hreflang) ']'
        font-size .65em
        vertical-align top
