form
    display none

    margin-top 3em

    label
    button
        display block
        margin 1em 0

        &.error
            margin-top .5em

    span
        display block

    input
        box-sizing border-box
        width 100%
        padding .35em .65em
        border 1px solid border-color

        &.error
            border-color border-error-color
            color font-error-color

    input[type=submit]
        margin-top 2em
        padding .65em 1em
        border none
        background-color link-color
        color #fff
        font-weight bold

        transition background 250ms

        &:hover
        &:focus
            background-color link-color - 30%

    .error
        color font-error-color

    .feedback
        display none
