form
    margin-top 3em

    label
    button
        display block
        margin 1em 0

        &.error
            margin-top .5em

    span
        display block

    input
        box-sizing border-box
        width 100%
        padding .35em .65em
        border 1px solid border-color

        &.error
            border-color border-error-color
            color font-error-color

    .sublabel
        font-size .9em
        color font-light-color

    .required span::after
        content ' *'
        vertical-align top
        font-size .7em
        font-weight bold
        color link-color

    [disabled]
        opacity .4

    .error
        color font-error-color

    .success
        font-weight bold
        color link-color


[role=button]
    display block
    margin-top 2em
    padding .65em 1em
    border none
    background-color link-color
    color #fff
    font-weight bold
    text-align center
    text-decoration none

    transition background 250ms

    &:hover
    &:focus
        background-color link-color - 30%
