header
    padding 2em 1em 2em 40%
    overflow hidden
    background url(../images/CreditMunicipalCamera4726.jpg) top left no-repeat
    background-size contain


h1
blockquote
    box-sizing border-box


h1
    text-shadow 0 1px 1px text-shadow-color
    text-align right


blockquote
    margin 2em 0 0
    width 65%
    float right

@media(min-width: 46.25em) and (max-width: 59.9999em)
    header
        padding-left 50%

    blockquote
        width 90%
        padding 1em 1em 1em 2em
        background-color font-light-color

        p
        footer
            color text-shadow-color

        &::before
            display none

@media(min-width: 28.75em) and (max-width: 46.2499em)
    header
        position relative
        padding 0 0 0 50%

        h1
        blockquote
            position: relative
            z-index 2
            width 100%
            padding 0 1em


        blockquote::before
            display none

        h1
        p
        footer
            color text-shadow-color
            text-shadow none


        &::before
            content ''
            display block
            position absolute
            z-index 0
            top 0
            left 50%
            right 0
            padding-bottom 66.33%
            height 0
            background-color font-light-color

@media(min-width:28.75em) and (max-width: 34.9999em)
    header
        padding 0

    h1
        margin 0 0 0 50%


@media(min-width: 28.75em) and (max-width 44.9999em)
    header
        padding 0

        h1
            margin 0
            height 0
            padding-bottom 66.33%
            padding-left 50%

    blockquote
        p
        footer
            color font-color

@media(max-width: 28.7499em)
    header
        padding 66.33% 0em 1em

        &::before
            display none

    h1
        text-align left


@media (max-width: 34.9999em)
    blockquote
        width 100%
        margin-top 0
