.col
.container .fixed h1
    width 100%
    max-width 60rem
    box-sizing border-box


#page
    position relative
    margin 0 auto


.overlay
    position fixed
    top 0
    left 50%
    transform translateX(-50%)
    padding-bottom 54.16667%
    height 0


.container
    position relative
    margin-top 54.16667%
    padding 1em

    h1
        box-sizing border-box
        margin-top 0


.fixed
    @media(min-width 30em)

        .overlay
            display none

        .container
            padding-top 6em

        h1
            width 100%
            position fixed
            z-index 2
            top 0
            left 50%
            transform translateX(-50%)
            padding 1rem

        blockquote
            position relative
            z-index 1


header
    blockquote
        margin 2em 0
        padding-left 3em


section
    margin 1em 0 3em
    padding 1em 1em 0
    overflow hidden

    & + section
        margin-top 2em


@media(min-width: 40em)
    .col-left
    .col-right
        box-sizing border-box
        float left

    .col-left
        width 66.66666%
        padding-right 1em

    .col-right
        width 33.33333%
        padding-left 1em

@media(max-width: 40em)
    .col-right
        margin-top 3em


#faq
    box-sizing border-box
    clear both

    [aria-expanded=false]
        overflow hidden
        height 1.5em
        white-space nowrap
        text-overflow ellipsis


#signatories
    ul
        padding 0
        list-style-type none


.card
    margin-bottom 2em

    .logo
        float left
        margin .5em 16px

    .content
        padding 1em 1em 1em 6em

    h3
        margin 0

    .description
        margin-bottom 0
        padding-top 1em


.media img
    display block
    width 100%


dl
    dt
        margin-top 1em

    dd
        margin-left 0
        margin-bottom 2em


#page > footer
    padding-top 5em

    img
        display inline-block
        margin-right .65em
        vertical-align middle

    @media(max-width: 60em)
        padding 3em 1em 0

    @media(min-width: 40em)
        .license
            width 65%
            margin-top 1em

        .author
            width 35%
            float right
            text-align right
