.col
    width      100%
    max-width  60rem
    box-sizing border-box


#page
    position relative
    margin   0 auto


imageRatio = 350 / 960 * 100%

.overlay
    position       fixed
    top            0
    left           50%
    transform      translateX(-50%)
    padding-bottom imageRatio
    height         0

    @media(max-width: 29.99999em)
        position       initial
        transform      none !important
        padding-bottom 0


.container
    position   relative
    margin-top imageRatio
    padding    1em

    h1
        box-sizing border-box
        margin-top 0


nav
    ul
        padding         0
        list-style-type none

    li
        vertical-align top
        display        inline

    @media(min-width: 30.0625em)
        .socials
        .locales
            float right

        .main
            float left

    .main li
        padding-right 1em

    iframe
        vertical-align bottom

    .icon
        vertical-align middle
        margin-right   .45em

    svg
        width  .8em
        height .8em
        margin-top -.1em


header
    blockquote
        margin       2em 0
        padding-left 3em

    &::after
        content ''
        display block
        clear   both

    img
        display none


section
    margin   1em 0 0
    padding  1em 1em 0
    overflow hidden

    + section
        margin-top  0
        padding-top 0


#faq
    box-sizing border-box
    clear      both

    [aria-expanded=false]
        overflow      hidden
        height        1.5em
        white-space   nowrap
        text-overflow ellipsis


#signatories
    margin-top 4em

    ul
        margin          2em 0 0
        padding         0
        list-style-type none

    li
        display        inline-block
        vertical-align top
        box-sizing     border-box
        width          33%
        min-width      15em
        margin         0
        padding        0 .5em 2em

        @media(max-width: 55.12499em)
            width 49%

        @media(max-width: 34.99999em)
            width 100%

    h2
        overflow hidden

        @media(max-width: 30em)
            .date
                display none

    .markers
        float        right
        margin       0
        margin-right -5.5em

        @media(max-width: 46.25em)
            float        left
            margin-top   1em
            margin-right 0

        li
            display      inline-block
            margin-right -10%
            padding      0
            width        inherit
            min-width    1px

        img
            width 2.75em



.card
    box-sizing border-box
    overflow   hidden

    .logo
        float    left
        position relative
        width    4em
        height   4em
        margin   .5em 16px

        img
            position   absolute
            top        50%
            left       50%
            transform  translateX(-50%) translateY(-50%)
            width      4em
            max-width  4em
            max-height 4em

    .content
        padding 1em 1em 1em 6em

    h3
        margin 0

    .description
        margin  0
        padding 1em 1em 2em

        display none

    &:hover
        .description
            display block


.medium img
    display block
    width   100%


dl
    dt
        margin-top 1em

    dd
        margin-left   0
        margin-bottom 2em


#page > footer
    padding-top 5em

    img
        display        inline-block
        margin-right   .65em
        vertical-align middle

    @media(max-width: 60em)
        padding 3em 1em 0

    @media(min-width: 40em)
        .license
            width      65%
            margin-top 1em

        .author
            width      35%
            float      right
            text-align right
