.col
.container .fixed h1
    width 100%
    max-width 60rem
    box-sizing border-box


#page
    position relative
    margin 0 auto


.overlay
    position fixed
    top 0
    left 50%
    transform translateX(-50%)
    padding-bottom 54.16667%
    height 0


.container
    position relative
    margin-top 54.16667%
    padding 1em

    h1
        box-sizing border-box
        margin-top 0


.socials
    ul
        padding-left 0
        list-style-type none
        text-align right

    li
        display inline

    iframe
        vertical-align bottom


.fixed
    @media(min-width 30em)

        .overlay
            display none

        .container
            padding-top 6em

        h1
            width 100%
            position fixed
            z-index 2
            top 0
            left 50%
            transform translateX(-50%)
            padding 1rem

        blockquote
            position relative
            z-index 1


header
    blockquote
        margin 2em 0
        padding-left 3em


section
    margin 1em 0 3em
    padding 1em 1em 0
    overflow hidden

    & + section
        margin-top 2em


.col-left
    padding-bottom 3em
    @media(min-width: 55.125em)
        float left
        box-sizing border-box
        width 67%
        padding-right 2em


#faq
    box-sizing border-box
    clear both

    [aria-expanded=false]
        overflow hidden
        height 1.5em
        white-space nowrap
        text-overflow ellipsis


#signatories
    ul
        padding 0
        list-style-type none

    li
        display inline-block
        vertical-align top
        box-sizing border-box
        width 33%
        min-width 15em
        margin 0
        padding 0 .5em 2em

        @media(max-width: 55.12499em)
            width 49%

        @media(max-width: 34.99999em)
            width 100%


.card
    box-sizing border-box
    overflow hidden

    .logo
        float left
        margin .5em 16px

        img
            max-width 4em
            max-height 4em

    .content
        padding 1em 1em 1em 6em

    h3
        margin 0

    .description
        margin-bottom 0
        padding-top 1em


.media img
    display block
    width 100%


dl
    dt
        margin-top 1em

    dd
        margin-left 0
        margin-bottom 2em


#page > footer
    padding-top 5em

    img
        display inline-block
        margin-right .65em
        vertical-align middle

    @media(max-width: 60em)
        padding 3em 1em 0

    @media(min-width: 40em)
        .license
            width 65%
            margin-top 1em

        .author
            width 35%
            float right
            text-align right
