doctype
- var lang = 'fr'
- var locale = getLocale(lang)
html(lang=lang)
head
    meta(charset="utf-8")
    title= locale.t('meta.title')
    script.
        window.location.href = '/fr/'

body
    | La page a été déplacée ici : 
    a(href="/fr/") //ni-pigeons-ni-espions.fr/fr/
