doctype
html(lang="en")
    head
        meta(charset="utf-8")
        title Déclaration commune contre la surveillance généralisée d'Internet
        meta(name="description", content="Les acteurs du numériques français unis contre la surveillance généralisée d'internet : #niPigeonsNiEspions")
        meta(name="keywords", content="projet loi renseignement, loi renseignement, niPigeonsNiEspions, surveillance, internet, numérique, 1984")

        meta(name="viewport",content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="styles/app.css?DIGEST")


    body
        #page.col
            .overlay.col.media
                img(src="images/CreditMunicipalCamera4726.jpg", alt="Liberté, Surveillé, Fiché - Photo par David Henry, © 2015 www.davidphenry.com")

            .container.col
                header
                    h1
                        | Nous, acteurs du numérique, sommes contre
                        br
                        | la surveillance généralisée d'internet.
                        br
                        a(href="https://twitter.com/hashtag/niPigeonsNiEspions?src=hash") #NiPigeonsNiEspions

                    blockquote(cite="http://ww2.ac-poitiers.fr/histoire-arts/IMG/pdf/extrait_1984_Orwell.pdf")
                        p Naturellement, il n’y avait pas moyen de savoir si, à un moment donné, on était surveillé.
                        footer
                            | George Orwell, 1984

                    nav.socials
                        ul
                            li
                                a.twitter-share-button(href='https://twitter.com/share', data-url='http://ni-pigeons-ni-espions.fr/', data-text="Nous, acteurs du numérique, sommes contre la surveillance généralisée d'internet.", data-hashtags='NiPigeonsNiEspions') Tweet
                            li
                                span.fb-share-button(data-href='http://ni-pigeons-ni-espions.fr/', data-layout='button_count')

                section.main
                    #manifesto.col-left
                        p Nous, <em>acteurs du numérique français</em>,
                        p Sommes contre la surveillance généralisée d'Internet qui est inefficace et dangereuse.
                        ul
                            li <strong>inefficace</strong>&nbsp;: les personnes motivées utiliseront facilement des outils de chiffrement pour y échapper.
                            li <strong>dangereuse pour la croissance</strong>&nbsp;: nos clients internationaux perdront confiance dans nos entreprises numériques.
                                ul
                                    li <strong>Les hébergeurs français</strong>, qui connaissent une croissance de 30% par an, <a href="https://eu.ovh.com/fr/news/articles/a1743.le-gouvernement-veut-il-contraindre-les-hebergeurs-internet-a-l-exil">se verront obligés de <strong>délocaliser leurs datacenters et leurs emplois à l'étranger</strong></a> pour que leurs clients internationaux continuent à leur confier leurs précieuses informations.
                                    li <strong>Nos champions de l'internet des objets</strong>, véritables fers de lance, devront expliquer à leurs clients étrangers que l'objet connecté installé dans leur salon n'est pas un espion (alors qu'il le sera).
                                    li <strong>Les éditeurs de solutions SaaS</strong> devront convaincre leurs clients que non, malgré les dispositifs algorithmiques sous scellés (les "boites noires") dans leur <em>datacenter</em>, ils n'ont pas à craindre l'espionnage industriel.
                                    li <strong>Les entreprises de Conseils et service</strong>, alors que la France compte plusieurs acteurs internationaux, vont se retrouver décrédibilisées par cette exception sécuritaire française.
                                    li les entreprises du numérique créent de l'emploi et sont le relais de croissance dont la France a besoin. <strong>Mettre Internet sous surveillance, c'est sacrifier l'avenir numérique de la France, ses emplois et sa contribution à l'économie française</strong>.

                        p Mettre Internet massivement sous surveillance, c’est ouvrir la porte à un espionnage incontrôlable, sans aucune garantie de résultat pour notre sécurité.

                        p Mettre Internet massivement sous surveillance, c’est nous décridibiliser vis-à-vis de nos clients et nous pousser à une délocalisation progressive pour continuer à offrir un service similaire à celui de nos concurrents internationaux.

                        p Mettre Internet massivement sous surveillance, c'est aussi sacrifier l'avenir numérique de la France, ses emplois et sa contribution à l'économie française.

                        p De ce fait, nous demandons une révision en profondeur du projet de loi sur le renseignement, à commencer par le retrait pur et simple du dispositif nous imposant l'installation des "boites noires".

                        p
                            strong Vous êtes un acteur du numérique français ? Signez cette déclaration et rejoignez nous sur la liste #niPigeonsNiEspions.
                            a.internal(href="#contact", role='button') Contactez-nous

                        form#contact(action='https://docs.google.com/forms/d/1McYc54DAVHdn3cXmn0rU_W6vuotABoFqJLq8vhaOQZc/formResponse', method='POST', target='_blank', aria-hidden='true')
                            p.meta Je souhaite souscrire à la <em>Déclaration commune contre la surveillance généralisée d'Internet</em> et apparaître sur cette page comme signataire.
                            .form
                                label(for="#entry_1413444690")
                                    span Nom
                                    input#entry_1413444690.required(name='entry.1413444690', value='', aria-label='Nom', required, type='text')
                                label(for="entry_1285308595")
                                    span Prénom
                                    input#entry_1285308595.required(name='entry.1285308595', value='', aria-label='Prénom', required, type='text')
                                label(for="entry_1695069219")
                                    span E-mail
                                    input#entry_1695069219.required.email(name='entry.1695069219', value='', aria-label='E-mail : Veuillez saisir une adresse e-mail valide.', required, type='email')
                                label(for="entry_179101777")
                                    span Société
                                    input#entry_179101777.required(name='entry.179101777', value='', aria-label='Société', required, type='text')
                                input(name='draftResponse', value='[,,&quot;-5106265441776243151&quot;]', type='hidden')
                                input(name='pageHistory', value='0', type='hidden')
                                input(name='fbzx', value='-5106265441776243151', type='hidden')
                                input(type='submit', value='Souscrire à la déclaration', name='subscribe', role='button')
                            p.onsuccess.meta.feedback(aria-hidden='true')
                                | Votre demande de signature nous a bien été transmise. Merci pour votre soutien, nous vous contacterons rapidement.
                            p.onerror.error.feedback(aria-hidden='true')
                                | Merci de patienter, nous transmettons votre demande d'inscription.


                    #signatories
                        h3 Signataires
                        ul
                            li: .card
                                .logo
                                    img(src="images/logos/cozy-logo.svg", width=64, height=64)
                                .content
                                    h3 Cozy Cloud
                                    .meta
                                        span.name Tristan Nitot

                            li: .card
                                .logo
                                    img(src="images/logos/ovh.png", width=64, height=64)
                                .content
                                    h3 OVH
                                    .meta
                                        span.name Octave Klaba

                            li: .card
                                .logo
                                    img(src="images/logos/alwaysdata_print.png", width=64, height=64)
                                .content
                                    h3 alwaysdata
                                    .meta
                                        span.name Nicolas Ferrari

                            li: .card
                                .logo
                                    img(src="images/logos/gandi-large.png", width=64, height=64)
                                .content
                                    h3 Gandi
                                    .meta
                                        span.name Stephan Ramoin
                            li: .card
                                .logo
                                    img(src="images/logos/emakina.png", width=64, height=64)
                                .content
                                    h3 Emakina
                                    .meta
                                        span.name Manuel Diaz

                            li: .card
                                .logo
                                    img(src="images/logos/ids.png", width=64, height=64)
                                .content
                                    h3 IDS
                                    .meta
                                        span.name Bruno Diot
                            li: .card
                                .logo
                                    img(src="images/logos/seed4soft2.png", width=64, height=64)
                                .content
                                    h3 seed4soft
                                    .meta
                                        span.name Business Angels et mentors du software

                            li: .card
                                .logo
                                    img(src="images/logos/Lomaco.png", width=64, height=64)
                                .content
                                    h3 Lomaco
                                    .meta
                                        span.name Philippe Issart

                            li: .card
                                .logo
                                    img(src="images/logos/siliconConte.png", width=64, height=64)
                                .content
                                    h3 Silicon Comté
                                    .meta
                                        span.name Professionnels du numérique

                            li: .card
                                .logo
                                    img(src="images/logos/Firstheberg.gif", width=64, height=64)
                                .content
                                    h3 Firstheberg
                                    .meta
                                        span.name Jérémy Martin

                            li: .card
                                .logo
                                    img(src="images/logos/ikoula_logo2.png", width=64, height=64)
                                .content
                                    h3 Ikoula

                            li: .card
                                .logo
                                    img(src="images/logos/logo_ips_150x150.png", width=64, height=64)
                                .content
                                    h3 IP Solution
                                    .meta
                                        span.name La liberté appartient à ceux qui l'ont conquise - Malraux

                            li: .card
                                .logo
                                    img(src="images/logos/abilian-logo-150x150.png", width=64, height=64)
                                .content
                                    h3 Abilian
                                    .meta
                                        span.name Stéphane Fermigier

                            li: .card
                                .logo
                                    img(src="images/logos/linagora2.png", width=64, height=64)
                                .content
                                    h3 Linagora
                                    .meta
                                        span.name LINAGORA défend depuis toujours la Liberté. Nous se sommes #niPigeonsNiEspions !

                            li: .card
                                .logo
                                    img(src="images/logos/NEOVOTE - 150x150.png", width=64, height=64)
                                .content
                                    h3 Neovote
                                    .meta
                                        span.name David FOUCHER

                            li: .card
                                .logo
                                    img(src="images/logos/octopuce-150-white.png", width=64, height=64)
                                .content
                                    h3 Octopuce
                                    .meta
                                        span.name Benjamin Sonntag
                                        
                            li: .card
                                .logo
                                    img(src="images/logos/logo-si7v.png", width=64, height=64)
                                .content
                                    h3 Si7v
                                    .meta
                                        span.name Pierre Tourbeaux
                                        
                            li: .card
                                .logo
                                    img(src="images/logos/ppd-logo-sq.png", width=64, height=64)
                                .content
                                    h3 Agence PouipouiDesign

                            li: .card
                                .logo
                                    img(src="images/logos/elao.png", width=64, height=64)
                                .content
                                    h3 Elao
                                    .meta
                                        span.name Professionnels du Web… libre

                            li: .card
                                .logo
                                    img(src="images/logos/syntec.png", width=64)
                                .content
                                    h3 FÉDÉRATION SYNTEC

                            li: .card
                                .logo
                                    img(src="images/logos/runMyProcess2.png", width=64)
                                .content
                                    h3 RunMyProcess
                                    .meta
                                        span.name Matthieu Hug

                            li: .card
                                .logo
                                    img(src="images/logos/CaptaineDash.svg", width=64, height=64)
                                .content
                                    h3 Captain Dash
                                    .meta
                                        span.name Bruno Walther

                            li: .card
                                .logo
                                    img(src="images/logos/binaire.blog.lemonde.jpeg", width=64, height=64)
                                .content
                                    h3 binaire
                                    .meta
                                        span.name binaire.blog.lemonde.fr

                            li: .card
                                .logo
                                    img(src="images/logos/wizishop.png", width=64)
                                .content
                                    h3 WiziShop
                                    .meta
                                        span.name René Cotton

                            li: .card
                                .logo
                                    img(src="images/logos/ploss-logo.png", width=64)
                                .content
                                    h3 PLOSS
                                    .meta
                                        span.name Réseau des entreprises du logiciel libre en Ile-de-France


                            li: .card
                                .logo
                                    img(src="images/logos/tvlanguedoc.png", width=64, height=64)
                                .content
                                    h3 TV Languedoc
                                    .meta
                                        span.name Thierry Jirkovsky

                            li: .card
                                .logo
                                    img(src="images/logos/servebox-150.png", width=64, height=64)
                                .content
                                    h3 Servebox
                                    .meta
                                        span.name Jean-François Mathiot

                            li: .card
                                .logo
                                    img(src="images/logos/netfaster.jpg", width=64, height=64)
                                .content
                                    h3 Netfaster
                                    .meta
                                        span.name Hugues BLANCHARD

                            li: .card
                                .logo
                                    img(src="images/logos/upleanipigeons.png", width=64)
                                .content
                                    h3 UPLEA
                                    .meta
                                        span.name Hébergeur de fichiers dans le Cloud

                            li: .card
                                .logo
                                    img(src="images/logos/LezardRouge.png", width=64)
                                .content
                                    h3 Lézard rouge
                                    .meta
                                        span.name Marie Kuntz

                            li: .card
                                .logo
                                    img(src="images/logos/THE FRENCH TALENTS logo 150.png", width=64)
                                .content
                                    h3 The French Talents
                                    .meta
                                        span.name Martin & Julien

                            li: .card
                                .logo
                                    img(src="images/logos/oxalide150x150.png", width=64, height=64)
                                .content
                                    h3 Oxalide
                                    .meta
                                        span.name Maxime Kurkdjian

                            li: .card
                                .logo
                                    img(src="images/logos/plantework.png", width=64)
                                .content
                                    h3 PLANET-WORK
                                    .meta
                                        span.name Arnaud GAUTIER

                            li: .card
                                .logo
                                    img(src="images/logos/datashush-bouton.png", width=64)
                                .content
                                    h3 DataShush Technology
                                    .meta
                                        span.name Messagerie sécurisée

                            li: .card
                                .logo
                                    img(src="images/logos/lyonet_logo150.jpg", width=64)
                                .content
                                    h3 LyONET
                                    .meta
                                        span.name Informatique libre, durable et éthique

                            li: .card
                                .logo
                                    img(src="images/logos/piwigo.com-logo.png", width=64, height=64)
                                .content
                                    h3 Piwigo.com
                                    .meta
                                        span.name Pierrick Le Gall

                            li: .card
                                .logo
                                    img(src="images/logos/inception-hub 150.png", width=64, height=64)
                                .content
                                    h3 Inception
                                    .meta
                                        span.name Aurélien Sallé

                            li: .card
                                .logo
                                    img(src="images/logos/maat_logo_png_150px.png", width=64)
                                .content
                                    h3 Maat Serveur
                                    .meta
                                        span.name Elias Kefi

                            li: .card
                                .logo
                                    img(src="images/logos/enautia150x150.png", width=64)
                                .content
                                    h3 e-nautia
                                    .meta
                                        span.name Jean-Moïse Flattot

                            li: .card
                                .logo
                                    img(src="images/logos/wescale-150.png", width=64)
                                .content
                                    h3 WeScale
                                    .meta
                                        span.name We're from the Internet.

                            li: .card
                                .logo
                                    img(src="images/logos/mailjet.png", width=64)
                                .content
                                    h3 Mailjet

                            li: .card
                                .logo
                                    img(src="images/logos/3it-LOGO150X150.JPG", width=64, height=64)
                                .content
                                    h3 3it
                                    .meta
                                        span.name Jean-Luc Astier

                            li: .card
                                .logo
                                    img(src="images/logos/Logo-K-Net.pnge", width=64, height=64)
                                .content
                                    h3 K-net
                                    .meta
                                        span.name Frank Bisetti

                            //- li: .card
                            //-     .logo
                            //-         img(src="images/logos/template", width=64, height=64)
                            //-     .content
                            //-         h3 Elao
                            //-         .meta
                            //-             span.name template

                            //- li: .card
                            //-     .logo
                            //-         img(src="images/logos/template", width=64, height=64)
                            //-     .content
                            //-         h3 Elao
                            //-         .meta
                            //-             span.name template

                            //- li: .card
                            //-     .logo
                            //-         img(src="images/logos/template", width=64, height=64)
                            //-     .content
                            //-         h3 Elao
                            //-         .meta
                            //-             span.name template

                            //- li: .card
                            //-     .logo
                            //-         img(src="images/logos/template", width=64, height=64)
                            //-     .content
                            //-         h3 Elao
                            //-         .meta
                            //-             span.name template

                            //- li: .card
                            //-     .logo
                            //-         img(src="images/logos/template", width=64, height=64)
                            //-     .content
                            //-         h3 Elao
                            //-         .meta
                            //-             span.name template

                            //- li: .card
                            //-     .logo
                            //-         img(src="images/logos/template", width=64, height=64)
                            //-     .content
                            //-         h3 Elao
                            //-         .meta
                            //-             span.name template







                section#faq
                    dl
                        dt Êtes-vous les seuls à vous sentir concernés ?
                        dd
                            p
                                | Rarement un texte de loi aura autant fait l'unanimité contre lui : 
                                a(href="http://www.legifrance.gouv.fr/Droit-francais/Les-avis-du-Conseil-d-Etat-rendus-sur-les-projets-de-loi/Projet-de-loi-relatif-au-renseignement-PRMX1504410L-19-03-2015") le Conseil d'État
                                | , 
                                a(href="http://www.cnil.fr/linstitution/actualite/article/article/publication-de-lavis-sur-le-projet-de-loi-relatif-au-renseignement/") la CNIL
                                | , 
                                a(href="http://www.arcep.fr/uploads/tx_gsavis/15-0291.pdf") l'ARCEP
                                | , 
                                a(href="http://www.defenseurdesdroits.fr/sites/default/files/upload/avis-parlement/avis_ddd_15-04_-_01_04_2015.pdf") le Défenseur des droits
                                | , 
                                a(href="http://www.numerama.com/magazine/32650-la-loi-renseignement-fusillee-par-le-gendarme-du-renseignement.html") le patron de la commission de surveillance des écoutes téléphonique
                                | , 
                                a(href="http://www.rtl.fr/actu/societe-faits-divers/la-loi-sur-le-renseignement-entre-de-mauvaises-mains-est-une-arme-redoutable-estime-le-juge-marc-trevidic-7777296541") le juge anti-terroriste Marc Trevidic
                                |  ont unanimement émis des réserves sur ce projet de loi.
                            p
                                | Dans le domaine informatique, 
                                a(href="http://www.afdel.fr/actualites/categorie/actualite-afdel/article/projet-de-loi-renseignement-les-acteurs-du-numerique-s-inquietent-du-flou-qui-entoure-les-nouveaux-dispositifs-visant-une-systematisation-des-technologies-d-interception") les éditeurs de logiciels de l'AFDEL
                                | , 
                                a(href="http://www.lasic.fr/?p=728") les fournisseurs de services en ligne de l'ASIC
                                | , 
                                a(href="http://www.cnnumerique.fr/renseignement/") les membres du CNNum
                                | , 
                                a(href="http://renaissancenumerique.org/presse/communique-de-presse/730-loi-renseignement-pas-de-garantie-des-droits-sans-un-controle-effectif-pour-la-future-cnctr") Renaissance Numérique
                                | , 
                                a(href="http://www.syntec-numerique.fr/actualite/projet-loi-renseignement-patriot-act-francais") les sociétés informatiques du Syntec Numérique
                                |  ont aussi clairement communiqué leur profonde inquiétude.
                            p
                                a(href="https://www.change.org/p/retirez-le-pjlrenseignement-le-big-brother-fran%C3%A7ais-stoploirenseignement?lang=fr") Une pétition
                                |  a réuni plus de 50 000 signatures en quelques jours.

                        dt Les opposants au projet de loi laissent entendre que la démocratie serait en jeu, n'est ce pas exagéré ?
                        dd
                            | Il y a tout juste 70 ans, la France, l'Europe, le monde étaient en guerre. La stabilité de la démocratie exige de ne pas présumer des intentions des gouvernements dans 70 ans. Or aujourd'hui seuls les états autoritaires ont un usage efficace de la surveillance généralisée, pour identifier leurs dissidents. Qui peut dire que dans 10 ans, 30 ans, la France n'aura pas affaire à un état policier&nbsp;? Le <a href="http://www.rtl.fr/actu/societe-faits-divers/la-loi-sur-le-renseignement-entre-de-mauvaises-mains-est-une-arme-redoutable-estime-le-juge-marc-trevidic-7777296541")>juge anti-terroriste Marc Trévédic ne dit pas autre chose</a>.

                        dt Sans cette loi les terroristes vont pouvoir communiquer pour s'organiser tranquillement, c'est important de pouvoir écouter ce qu'ils se disent non ?
                        dd
                            | Il existe de nombreux outils gratuits qui permettent de chiffrer les différents usages d'Internet comme le navigateur TorBrowser, les VPN, la messagerie instantanée avec OTR, etc. chiffrer est très facile et permet de passer inaperçu sur Internet. C'est pour cela que surveiller tous les Français ne permettra pas d'empêcher le terrorisme.

                        dt Je n'ai rien à cacher, donc je ne crains rien ?
                        dd
                            | Chacun de nous a quelque chose à cacher. C'est pourquoi nous avons des loquets aux portes des toilettes, des rideaux aux fenêtres de nos chambres à coucher, et que nous ne souhaitons pas que notre employeur sache qu'on envoie des CV ailleurs. Rien de tout cela n'est illégal, et pourtant nous avons besoin de cette intimité. Encore un doute ? Envoyez-nous votre déclaration d'impôts, vos trois dernières fiches de paye et le mot de passe de votre compte email (c'est promis, on ne touche à rien !) pour que nous parlions de tout ça. :)

                        dt Mais les boites noires ne vont scruter que les méta-données ?
                        dd
                            p
                                | Les méta-données, ce sont les données à propos des données. Dans un email, elles comprennent l'adresse de l'expéditeur, du destinataire, le type de document, sa taille, sa date d'expédition. Ces données, structurées,  sont faciles à traiter par un ordinateur, bien plus facilement que les données non structurées comme un message vocal ou une image. Il est du coup très facile pour un ordinateur de croiser les méta-données pour comprendre ce que fait un individu. Prenons l'exemple d'une série d'appels téléphoniques dont on ne dispose que des méta-données. Un individu reçoit un appel d'un centre de dépistage du Sida. Il appelle ensuite son médecin, et trois personnes dont une seule qu'il a appelée récemment, puis <a href="https://www.sos-amitie.org/">SOS Amitié</a>. On ne sait rien du contenu des conversations, mais on devine aisément ce qui se passe.
                            p
                                | Il est naïf d'affirmer que l'on peut anonymiser des méta-données, en particulier dans un contexte général de croisement des données.



                .media
                    img(src="images/presidio-modelo2.jpg" alt="Prison panoptique, Presidio Modelo, Cuba")


            footer.col
                .author
                    p
                        | Photo « Liberté, Surveillé, Fiché » par David Henry, © 2015 
                        a(href="http://www.davidphenry.com") www.davidphenry.com
                        br
                        | Photo « Intérieur de la prison Presidio Modelo, à Cuba » par Friman 
                        a(href="https://commons.wikimedia.org/wiki/File:Presidio-modelo2.JPG") wikimedia commons

                p.license
                    | Ce document est mis à disposition selon les termes de la Licence Creative Commons Attribution :
                    br
                    a(href="http://creativecommons.org/licenses/by-sa/4.0/")
                        img(alt="Creative Commons License", style="border-width:0", src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png")
                        | Partage dans les Mêmes Conditions 4.0 International.



        script(src="scripts/vendor.js?DIGEST")
        script(src="scripts/app.js?DIGEST", onload="require('initialize');")
        
        script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        script.
            (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
        
        script(type='text/javascript').
            var _paq = _paq || [];_paq.push(["setDomains", ["*.ni-pigeons-ni-espions.fr","*.www.ni-pigeons-ni-espions.fr","*.ni-pigeons-ni-espions.fr"]]);_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function() {var u="//piwik.cozycloud.cc/";_paq.push(['setTrackerUrl', u+'piwik.php']);_paq.push(['setSiteId', 4]);var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);})();
        noscript
            img(src='//piwik.cozycloud.cc/piwik.php?idsite=4', style='border:0;', alt='')
